<html>
  <head>
    <title>Lisää lukuvinkki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Lisää lukuvinkki</h1>
      <br>
      <form action="" method="post">
        <fieldset>
          <legend>Valitse tyyppi</legend>
            <input type="radio" id="kirja" name="tyyppi" value="kirja">
            <label for="kirja">Kirja</label><br/>

            <input type="radio" id="podcast" name="tyyppi" value="podcast">
            <label for="podcast">Podcast</label><br/>

            <input type="radio" id="artikkeli" name="tyyppi" value="artikkeli">
            <label for="artikkeli">Artikkeli</label><br/>

            <input type="radio" id="video" name="tyyppi" value="video">
            <label for="video">Video</label><br/>

            <input type="radio" id="muu" name="tyyppi" value="muu">
            <label for="muu">Muu</label><br/>
        </fieldset>
         <input type="text" placeholder="Otsikko" name="otsikko" id="otsikko"><br>
         <input type="text" placeholder="Kirjailija" name="kirjailija" id="kirjailija"><br>
         <input type="text" placeholder="ISBN" name="isbn" id="isbn"><br>
         <input type="text" placeholder="Tagit" name="tagit" id="tagit"><br>
         <input type="text" placeholder="URL" name="url" id="url"><br>
         <input type="text" placeholder="Kommentit" name="kommentit" id="kommentit"><br>
         <input type="text" placeholder="Kuvaus" name="kuvaus" id="kuvaus"><br>
         <input type="text" placeholder="Liittyvät kurssit" name="kurssit" id="kurssit"><br>
         <button>
            Lisää
          </button>
      </form>
      {% if error %}
        <p class="error"><strong>Virhe:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>