{% extends "layout.html" %}

{% block body %}
<table class="table table-striped table-dark">
    <thead>
      <style>
        table, th, td {
          border: 1px solid black;
        }
        </style>
    <tr>
      <th scope="col">Tyyppi</th>
      <th scope="col">Otsikko</th>
      <th scope="col">Tekijä</th>
      <th scope="col">ISBN</th>
      <th scope="col">Tagit</th>
      <th scope="col">URL</th>
      <th scope="col">Kommentit</th>
      <th scope="col">Kuvaus</th>
      <th scope="col">Kurssit</th>
    </tr>
    </thead>
    <tbody>
        {% for lukuvinkki in lista %}
          <tr>
             <td>{{lukuvinkki.tyyppi}}</td>
             <td>{{lukuvinkki.otsikko}}</td>
             <td>{{lukuvinkki.kirjailija}}</td>
             <td>{{lukuvinkki.isbn}}</td>
             <td>{{lukuvinkki.tagit}}</td>
             <td>{{lukuvinkki.url}}</td>
             <td>{{lukuvinkki.kommentti}}</td>
             <td>{{lukuvinkki.kuvaus}}</td>
             <td>{{lukuvinkki.kurssit}}</td> 
          </tr>
        {% endfor %}
        <ul>
          <li><a href="/add_subject">Lisää lukuvinkki</a></li>
          <li><a href="/logout">Kirjaudu ulos</a></li>
        </ul>
        </tbody>
       </table>
      
      {% endblock %}