<html>
  <head>
    <title>Lisää lukuvinkki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript">
      function showIsbn() {
              document.getElementById('isbn').style.display = 'block';
            }
      function hideIsbn() {
              document.getElementById('isbn').style.display = 'none';
          }
      </script>
  </head>
  <body>
    <ul>
      <li><a href="/logout">Kirjaudu ulos</a></li>
    </ul>
    <div class="container">
      <h1>Lisää lukuvinkki</h1>
      <br>
      <form action="" method="post">
         <input type="text" placeholder="Otsikko" name="otsikko" id="otsikko" value={{otsikko}}><br>
         <input type="text" placeholder="Tekijä" name="kirjailija" id="kirjailija" value={{kirjailija}}><br>
         <input style="display: none;" type="text" placeholder="ISBN" name="isbn" id="isbn" value={{isbn}}><br>
         <input type="text" placeholder="Tagit" name="tagit" id="tagit" value={{tagit}}><br>
         <input type="text" placeholder="URL" name="url" id="url" value={{url}}><br>
         <input type="text" placeholder="Kommentti" name="kommentti" id="kommentti" value={{kommentti}}><br>
         <input type="text" placeholder="Kuvaus" name="kuvaus" id="kuvaus" value={{kuvaus}}><br>
         <input type="text" placeholder="Liittyvät kurssit" name="kurssit" id="kurssit" value={{kurssit}}><br>
          <div>
         <button>
            Muokkaa
          </button>
        </div>
      </form>
      {% if error %}
        <p class="error"><strong>Virhe:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>