<html>
  <head>
    <title>Lisää lukuvinkki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript">
      function showIsbn() {
              document.getElementById('isbn').style.display = 'block';
            }
      function hideIsbn() {
              document.getElementById('isbn').style.display = 'none';
          }
      </script>
  </head>
  <body>
    <ul>
      <li><a href="/logout">Kirjaudu ulos</a></li>
    </ul>
    <div class="container">
      <h1>Lisää lukuvinkki</h1>
      <br>
      <form action="" method="post">
         <input type="text" placeholder="Otsikko" name="otsikko" id="otsikko"><br>
         <input type="text" placeholder="Tekijä" name="kirjailija" id="kirjailija"><br>
         <input style="display: none;" type="text" placeholder="ISBN" name="isbn" id="isbn"><br>
         <input type="text" placeholder="Tagit" name="tagit" id="tagit"><br>
         <input type="text" placeholder="URL" name="url" id="url"><br>
         <input type="text" placeholder="Kommentit" name="kommentit" id="kommentit"><br>
         <input type="text" placeholder="Kuvaus" name="kuvaus" id="kuvaus"><br>
         <input type="text" placeholder="Liittyvät kurssit" name="kurssit" id="kurssit"><br>
         <input type="checkbox" id="yksityinen" name="yksityinen"
                 checked>
          <label for="yksityinen">Yksityinen lukuvinkki</label>
         <button>
            Lisää
          </button>
      </form>
      {% if error %}
        <p class="error"><strong>Virhe:</strong> {{ error }}
      {% endif %}
    </div>
  </body>
</html>